<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
</head>
<body>
    <h2>News</h2>
    <hr/>
    <ul>
        <li>
            <a href="./">Home</a>
        </li>
        <li>
            <a href="./reporterform">Add Reporter</a>
        </li>
        <li>
            <a href="./articleform">Add Article</a>
        </li>
        <li>
            <a href="./viewreporter">View Reporter</a>
        </li>
    </ul>
    <hr/>
    <div>
        {% for r in reporter %}
        <div>
            <h3>
                <a href="{% url 'viewarticle' r.id %}">{{r}}</a>
            </h3>
        </div>
        <hr/>
        {% endfor %}
    </div>
</body>
</html>